$font-html: 62.5%;
$line-height-html: 1.8rem;

$ff-main: 'Roboto Slab';
$ff-first: 'Roboto Slab';
$ff-second: 'Manrope';

$cl-body: #f4f4f4;
$cl-font-body: #000;

$cl-nav: #0e0e0e;

$fs_body: 1.6rem;

$purpure: #8761c8;
$lightpurpure: lighten(#8761c8, 23%);
